[include]
    path = ~/.gitconfig_user

[color]
    ui = true
[merge]
    conflictstyle = diff3
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
    rebase = true
[core]
    excludesfile = ~/.gitignore_global
    pager = delta
[commit]
    verbose = true
[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only
[delta]
    light = true
    line-numbers = true
    navigate = true
