[include]
    path = ~/.gitconfig_user

[color]
    ui = true
[merge]
    conflictstyle = zdiff3
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[pull]
    ff = only
[core]
    excludesfile = ~/.gitignore_global
    pager = delta
[commit]
    verbose = true
[init]
    defaultBranch = main
[diff]
    algorithm = histogram
[branch]
    sort = committerdate

[interactive]
    diffFilter = delta --color-only
[delta]
    light = true
    line-numbers = true
    navigate = true
